@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  height: 100vh;
  background:rgb(240, 234, 223);
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
}
img{
    height: 593px;
    width: 502px;
}
button{
    width: 438px;
    height: 45px;
    background: rgb(243, 142, 96);  
    font-size: 18px;
}
.y{
    color: grey;
}
.z{
    width: 595px;
}